[2019-12-06 11:25] JtheBAB opened #3 "Ghost entry"
Hi @jwilander

Really nice plugin. I use it on a daily base.

Unfortunately i have one ghost entry that i can't delete:

![Image Pasted at 2019-12-6 12-17](https://user-images.githubusercontent.com/42135332/70319622-041aab00-1823-11ea-8dc9-eabb27cc12f7.png)

![Image Pasted at 2019-12-6 12-16](https://user-images.githubusercontent.com/42135332/70319624-04b34180-1823-11ea-9ed1-b7c39e795094.png)

Any

[2019-12-06 11:27] JtheBAB opened #4 "Use Bot Account to post slash command responses"
Hi @jwilander

When i add a todo or list my todo's it doesn't show the bot logo:

![Clipboard02](https://user-images.githubusercontent.com/42135332/70319807-7be8d580-1823-11ea-9491-2bc31664801b.jpg)

[2019-12-10 23:32] aaronrothschild opened #5 "Complete items from the list (not at top)"
Can’t remove items that aren’t at the top of the list it would be great if `list` provided a numbered list and adding a ‘done’ command like `/todo done 3` would be helpful to complete tasks in the order I get to them, not necessarily the order I captured them in.

[2019-12-10 23:34] aaronrothschild opened #6 "Idea: Mark tasks complete from the list"
You can’t randomly complete tasks from viewing the list

ideally, next to each todo item is a link/button that let's the user mark it complete with a single click

ie: each task could have a link next to it saying “done” which then removes the item from the list - for example Hossein's google calendar plugin added text links to let the user interact in line with a post to accept/decline meetings

[2019-12-10 23:35] aaronrothschild opened #7 "Include permalink when using the Post-action todo action"
Tasks made from the Post "..." menu don’t include a link to the originating convo for maintaining context about the todo item (it would help if you added/concatenated a permalink to the list item when it is created via post-action command).

[2019-12-10 23:36] aaronrothschild opened #8 "Idea: `/todo` returns the todo list instead of help text"
I feel like /todo should just return the list of todos, not show help.  Thats' what `/todo help` should be for

Bonus: It would be really cool if the todo list was displayed in the RHS when you typed /todo it would give the user a place to keep the list in view and go about their work in MM and check off the tasks as they get done

[2019-12-11 19:04] aaronrothschild commented on #5
I just noticed there is a "todo" button which opens the RHS (and fulfills another issue I submitted).

[2019-12-11 19:04] #5 closed

[2019-12-11 19:05] aaronrothschild commented on #6
This is possible via the RHS after pushing the todo button.  Ignore.

[2019-12-11 19:05] #6 closed

[2019-12-12 13:21] aaronrothschild opened #9 "Daily Updates: Button to display RHS"
Getting the daily updates is nice, but to check off any items, I need to open the RHS....can we add a button to the message posted by the bot to allow a user to easily get to the RHS with one button click (in community, there is an extra click to hit the dropdown because there is >1 plugin using a button).

[2019-12-13 05:02] levb commented on #9
This will probably require converting to a custom post type when used in the webapp. Would also then elegantly solve the bonus part of https://github.com/mattermost/mattermost-plugin-todo/issues/8.

[2019-12-13 05:23] levb opened #12 "Request a task from another user"
Sender:
- `/todo request @user some-task`
- the task is added to the sender's todo list in the new "Sent" section; its status is displayed (pending/active). Maybe: display the position (number) in the recipient's "Requests Received" list -- this can be labelled "Priority": number, or "Received", "Declined", "Enqueued"
- When the recipient acts on the task, the sender is notified with a DM from the

[2019-12-14 17:06] levb commented on #12
cc @aaronrothschild for comments

[2019-12-16 12:25] aaronrothschild commented on #12
I love the suggestion!  Nothing comes to mind right now, but will think about this topic.

[2019-12-18 16:40] RajatVaryani opened #14 "Issue adding todo task"
Hello,

I ran `/todo add`. It added task with an empty string. I can help fix this.

[2019-12-18 16:57] jwilander commented on #14
Awesome @RajatVaryani, we'll welcome a PR for this :)

[2019-12-18 23:35] larkox commented on #7
May I take this one?

[2019-12-19 14:11] hanzei commented on #7
Sure, thanks @larkox

[2019-12-19 15:57] mickmister commented on #9
I was thinking we could have a todo "icon and counter" in the LHS like where we have the Github statuses. Then you click on the icon to open the RHS.

[2019-12-22 15:40] levb commented on #9
Great idea, should be a separate Help Wanted ticket?

[2020-01-06 14:38] #14 closed

[2020-01-07 13:50] levb opened #19 "Todo text should support Markdown"

[2020-01-07 13:50] larkox commented on #19
I will take this one

[2020-01-10 16:58] levb opened #21 "Add TODO modal should support WYSIWIG markdown"
https://github.com/mattermost/mattermost-plugin-todo/pull/20 added Markdown support to the rendering of the items, but the "edit" box in the Add modal does not support markdown yet.

[2020-01-13 08:57] #19 closed

[2020-01-14 16:01] mickmister opened #24 "Add Todo count and "add todo" button in LHS"
#### Summary

This will look similar to the GitHub and GitLab plugin webapp components.

We can use the font-awesome `tasks` icon with the count next to it. When you click this, it should open your todos in the RHS like normal. We can then have the font-awesome `plus` icon to open the create todo modal.

#### Screenshots

How it is implemented with the GitHub plugin:
![image](https://user-images.g

[2020-01-15 17:36] levb opened #25 ""[x] add to thread" mode"
1) When creating a new TODO from a post (in the modal) add a checkbox [x] add this item to the conversation (thread?).
2. When the item is created, post a message to the thread - "Marked as Todo for @user"
3. When the item is popped, post a message to the thread "@user resolved ..."

cc @jwilander @aaronrothschild for further suggestions/edits.

[2020-01-18 00:25] thapakazi commented on #4
Is this fixed?
I could not reproduce this on
 - localhost (old version: 5.17.0-rc1)
 and
- [community mattermost](https://community.mattermost.com) (5.18.0)

[2020-01-19 14:39] levb commented on #4
@JtheBAB can you please re-test?

[2020-01-20 09:11] JtheBAB commented on #4
Daily Reminder is ok:
![image](https://user-images.githubusercontent.com/42135332/72713295-15b6d880-3b6d-11ea-8e7e-15110ca1ebf4.png)

/todo list not:
![image](https://user-images.githubusercontent.com/42135332/72713325-249d8b00-3b6d-11ea-8fa5-176092c42218.png)

same also on community

[2020-01-20 09:43] hanzei commented on #4
The code :tm: states that there has never been an icon for the slash command responses: https://github.com/mattermost/mattermost-plugin-todo/blob/master/server/command.go#L46

The fix should be to us the bot account to create the slash command Responses.

[2020-01-27 02:35] thapakazi commented on #24
This addition will be a handy one :+1:

Hi, @mickmister
Do we have documentation/guidelines on how to build these custom UI elements?
I am new here and struggling to catch up with this just by going via other related plugings. Thanks.

[2020-01-29 03:45] mickmister commented on #24
Hi @thapakazi! A good example can be found in the GitHub plugin [repo](https://github.com/mattermost/mattermost-plugin-github).

We can define a component in the `webapp/src/components` folder like https://github.com/mattermost/mattermost-plugin-github/tree/master/webapp/src/components/team_sidebar.

Then include in the component in the sidebar with a call to `registry.registerBottomTeamSidebarCom

[2020-01-29 15:14] larkox commented on #12
May I take this one?

[2020-01-29 15:15] cpoile commented on #12
@larkox Great, go to it! :)

[2020-01-30 09:38] larkox commented on #12
Here is a mock-up for the front-end. It would be nice to confirm if this is the idea we have in mind before starting to program it down. Keep in mind that this is a mock-up, and most of the shapes and colours are just placeholders. Feel free to propose improvements on that part.

Since there are two new sections (inbox and sent) I named the natural one "own", as in "my own todos".

This section wi

[2020-01-30 14:52] #8 closed

[2020-01-31 14:45] larkox opened #28 "Items do not get deleted when they are no longer referenced"
When we create an item, we do two things:
- Store the item with its ID, createAt and message
- Store a reference to the item in the order list

But when we remove an item, we just remove the reference, leaving the item in the KVStore.

We should remove the item along with the reference.

[2020-01-31 14:45] larkox commented on #28
May I take this one?

[2020-02-01 12:13] levb commented on #28
@jwilander @aaronrothschild PM @asaadmahmood @cpoile @hanzei @larkox I have a rather radical suggestion here. What if all TODOs are self-destructing (i.e. KVSetWithExpire).

Technical issues aside, I'm intrigued with the idea that no task should live forever. the UX could be that upon expiry, all involved users get bot-DMed; and we could add a "Bump" action to renew the expiry date (also with a DM

[2020-02-01 16:27] jwilander commented on #28
I actually like that a lot. It would act as a forcing function to make me either actively choose the item to stay in my list or decide to take it off as not worth doing

[2020-02-03 04:54] lieut-data commented on #28
0/5 on the TODO workflow -- still not using that as my daily driver, so not sure I fully appreciate the impact -- but at a technical level, I think this belongs squarely outside the plugin API. Maybe we can discuss more at the toolkit <> integrations sync-up?

[2020-02-05 22:16] larkox commented on #25
May I take this one?

[2020-02-06 14:59] jwilander commented on #25
Go for it @larkox !

[2020-02-07 14:26] levb commented on #28
After discussing the idea with the toolkit team, I propose we do the following:
1. For the time being, stick with the current semantics, and merge the PR(s) from @larkox ensuring proper cleanup of deleted items.
2. File (repurpose) a ticket for Toolkit to implement a "persistent timer" for plugins, with attached state - a functional equivalent of what I proposed, but not intermixed with the existi

[2020-02-10 16:01] #28 closed

[2020-02-19 10:54] larkox commented on #25
I have a good idea on how to do this, but the changes on the architecture with [this PR](https://github.com/mattermost/mattermost-plugin-todo/pull/27) will prove quite useful for dealing with this beautifully. Therefore, I would prefer to wait for that PR to be merged.

Regarding the solution, the idea would be to add the PostID to the Issue object. and whenever the issue is removed, if there is a

[2020-02-20 04:48] #7 closed

[2020-02-23 14:21] jwilander commented on #25
That sounds reasonable to me @larkox 👍

[2020-02-28 23:54] mickmister opened #30 "Render RHS todo list with markdown, so URLs can be rendered as hyperlinks"
#### Summary

The webapp-side of the plugin could render its todo text as markdown with a simplified version of how the `mattermost-webapp` is rendering the markdown. The goal would be to accomplish this without importing `mattermost-webapp` in the plugin's source.

[2020-02-29 16:29] larkox commented on #30
After [this PR](https://github.com/mattermost/mattermost-plugin-todo/pull/17) it is already doing that. Are you missing anything else?

[2020-02-29 17:23] mickmister commented on #30
Looks like it is taken care of by that PR :) Thanks @larkox

[2020-02-29 17:23] #30 closed

[2020-03-03 15:57] DHaussermann opened #31 "Enhance To Do by adding functionality to Edit To Do items"
It would be useful is users could edit items on their To Do list. This way more details could be added or changed after the item has been saved.

Ideally we could re-open the modal and make edits.

[2020-03-03 16:05] DHaussermann opened #32 "Focus does not move properly into text box when adding a new To Do item from RHS"
When adding an item to To Do from the RHS the focus does not properly move to the input box in the full page modal. The user must manually move the focus otherwise the focus will remain wherever it was behind the modal.

Steps:
- Open the To Do list in the RHS
- Place the focus in the post text box
- Click the "+" to add a new item
- Note the text box is out of focus
- Type some text
**Observed**:

[2020-03-03 16:09] DHaussermann opened #33 "Add ability to sort items in To Do list"
Adding a feature where items in the To Do list can be sorted would add alot of value.

With sorting, you could sort the items by priority instead of just having them listed oldest to newest.

[2020-03-04 05:59] jfrerich opened #34 "List does not stay current if changes are made while it's open in multiple clients"
### Summary
If the To Do List is expanded in more than one client and edits are made, a user must close and re-open the list to see the current state in other clients.

**Steps**:

* Login to the same server from desktop and a browser (or 2 different browsers)
* Open the To Do plugin in both sessions
* From 1 session add or remove items to your To Do list

**Expected** To Do list is updated in rea

[2020-03-07 15:22] hanzei commented on #33
How would the user select the kind of sorting?

[2020-03-10 15:03] DHaussermann commented on #33
We would need a spec to decide how the sorting should be implemented. But, to clarify the end goal - The user should be able to set in what order they are listed rather than chronologically by creation. This way the items in the to do list can be sorted in the order they want to work on them.

[2020-03-10 20:53] aaronrothschild commented on #31
User Comments:

[2020-03-10 20:58] aaronrothschild commented on #33
From a user:

I can't imagine sorting alphabetically would help.  But sorting with a priority level would be useful.

[2020-03-16 15:21] DHaussermann opened #36 "Improve UX for Position text"
We should improve the UX when a user is shown the position of items in a list.
This looks a bit confusing. 0/5 Possibly it should be made clear that this is it own piece of information by placing it on a new line. Or the status and position line need some styling.

![PostionText](https://user-images.githubusercontent.com/35588783/76772882-fd7fc600-6777-11ea-9282-1a09003cabbc.png)

[2020-03-17 13:23] hanzei commented on #36
@asaadmahmood to create a well defined spec for RHS items

[2020-03-17 14:27] #12 closed

[2020-03-24 16:24] jfrerich commented on #3
@JtheBAB have you tried using the `/todo pop` command? This will pop the todo issue at the top of your list. You can view the list with `/todo list`.

[2020-03-24 16:34] JtheBAB commented on #3
Sorry. Yes @jwilander told me on community that pop exist.

[2020-03-24 22:43] hanzei commented on #3
@JtheBAB Did it fix the issue?

[2020-03-25 06:36] JtheBAB commented on #3
Yes. Absolutely

[2020-03-25 11:28] hanzei commented on #3
Then I'm going to close this ticket as it's not reproachable and there is a workaround.

[2020-03-25 11:28] #3 closed

[2020-03-25 17:13] jfrerich opened #41 "Handle todo message with very long connected text"
When a user has a message with very long text with no spaces, the text scrolls to the right.

This an edge case that probably isn't going to be common but should be addressed.

Looking at the image
1) very long text with scrolling issue (needs solution)
2) very long text with wrapping (correct)
3) very long HTML link that wraps correctly
![image](https://user-images.githubusercontent.com/7575921/7

[2020-03-26 05:09] TheoVitkovskiy commented on #41
I would love to do this one (would be my first frontend ticket), but I'm ok, if somebody else with less experience (less than mid-level) takes it.

[2020-03-26 05:11] jfrerich commented on #41
@TheoVitkovskiy, it is yours!  Thanks for offering to work on this and if you have any questions feel free to ask!

[2020-03-26 06:15] TheoVitkovskiy commented on #41
@jfrerich, I have downloaded the latest release version of the plugin, but when I try to add a todo, the form window closes, but the todo does not show up in the sidebar. It gives me the following error: "Invalid prop `todos` of type `string` supplied to `he`, expected an array.".

Am I doing something wrong, most likely I should take the latest master and somehow build it.

[2020-03-26 07:14] TheoVitkovskiy commented on #41
@jfrerich now I've got two questions:
1. In order to see my changes, do I have to build the plugin with `make` and `deploy`?
2. When I've built the latest master (also tried it with the releaseversion), it tells me that I have no to-do issues, no matter how I add the todo. When I use the `list` command, it shows up just fine.

[2020-03-27 10:39] larkox opened #43 "When no SiteURL is set in config, the basePath is not properly set"
If no SiteURL is set in config, the basePath is set to /, and then is appended /plugins..., resulting in //plugins/.

basePath should be changed to the empty string, so it uses a relative URL.

[2020-03-31 08:57] #43 closed

[2020-04-03 05:22] #41 closed

[2020-04-07 00:22] aidenmitchell opened #46 "Please publish beta releases"
Sending a task to another user isn't something that can be done with the current release (the initial release). Publishing beta releases would help. Thanks.

[2020-04-07 00:26] #25 closed

[2020-04-07 00:29] levb commented on #46
@aidenmitchell ack; we've been stuck a little on approvals, but considering it's still an early pre-release we'll cut one ASAP now.

[2020-04-07 00:36] aidenmitchell commented on #46
Ok, great. Is there a way I can build this into a tar.gz myself so that Mattermost will accept it?

[2020-04-07 00:37] aidenmitchell commented on #46
Also, thanks for the quick response, that's great.

[2020-04-07 15:57] jfrerich commented on #46
@aidenmitchell, once the release is made, you will be able to get the tar.gz for mattermost.

We don't necessarily have beta releases, but you can build the plugin into a `tar.gz` and upload it to Mattermost.  You'll need to clone the repository and `make deploy` command.  This will build the `tar.gz` from the branch you are currently on.  If you need more documentation you can also view https://d

[2020-04-07 20:01] aidenmitchell commented on #46
Yes, that's wonderful, thank you.

[2020-04-07 20:16] aidenmitchell commented on #46
Update: I get an error when trying to run ```make deploy```.
[code]

[2020-04-08 16:04] TheoVitkovskiy commented on #34
I will give my best shot on the weekend! (I have a long weekend starting tomorrow)

[2020-04-10 21:34] DHaussermann opened #48 "Several DMs from ToDo bot are no longer received"
I'm seeing at least 3 cases where DMs from To Do bot are not sent to the appropriate users.

- Receiver cancels an item on their to do list >> Sender should receive a DM that receiver has canceled the task.
- Receiver marks an item on their to do list as Done  >> Sender should receive a DM that receiver has completed the task.
- Sender cancels an item that was sent >> Receiver should get a DM that

[2020-04-14 14:20] jfrerich commented on #34
Thank you, @TheoVitkovskiy.  Let us know if you need any help!

[2020-04-19 05:16] attilamolnar commented on #4
Hey, I'll take a look

[2020-04-19 05:16] attilamolnar commented on #48
Hey, I'll take a look

[2020-04-20 02:04] terafirmanz opened #51 "creating a blank item"
If adding a todo item by typing
/todo add
then pressing enter by never providing any input a blank todo is added but it cannot be removed form the todo list.

[2020-04-20 04:19] TheoVitkovskiy commented on #51
@terafirmanz Thank you for reporiting the issue.
Couldn't reproduce the issue on the latest `master`, so it has already been fixed.

[2020-04-20 08:10] larkox commented on #51
As a workaround until new version is delivered, you can get rid of that empty todo using the slash command `/todo pop` if I am not mistaken.

[2020-04-20 11:45] hanzei commented on #4
Awesome, thanks @attilamolnar :+1:

[2020-04-21 10:05] #48 closed

[2020-04-21 12:24] #51 closed

[2020-04-21 16:57] #46 closed

[2020-04-21 17:54] aidenmitchell opened #56 "Add due dates to tasks"

[2020-04-23 08:41] hanzei opened #58 "Integrate GolangCI-Lint"
Mattermost is currently in the process of using [`golangci-lint`](https://github.com/golangci/golangci-lint/) as the default linter for all go projects. https://github.com/mattermost/mattermost-plugin-autolink/pull/108 serves as an example of how the migration should look like:
1. Copy `.golangci.yml` from https://github.com/mattermost/mattermost-plugin-autolink/ into this repository.
2. Copy `Mak

[2020-04-29 05:50] #4 closed

[2020-04-29 17:47] DHaussermann opened #59 "Active users get a JS error and must refresh when Admin enables the plugin (intermittent)"
Some users see a JS error when the plugin is enabled and must refresh to see the UI option for To Do bot.
![EnableToDo](https://user-images.githubusercontent.com/35588783/80628720-cd3a7100-8a1f-11ea-8f77-06e8876b12b3.PNG)

I've noticed is that not all users seem to be affected and opening a new session with fresh cache does not always repro it.
On my 2nd attempt it was actually the admin enabling

[2020-04-30 07:21] hanzei commented on #59
@larkox I'm wondering if you could take a shot at this given, which would allow us to cut a new todo plugin release and then get it into the Marketplace.

[2020-05-04 06:21] bbodenmiller opened #61 "Merge with mattermost-plugin-remind"
https://github.com/scottleedavis/mattermost-plugin-remind has more features but needs someone to help (e.g https://github.com/scottleedavis/mattermost-plugin-remind/issues/73). Why not merge with them?

[2020-05-05 03:04] mickmister opened #62 "If a todo was created from a post, have the choice to link to the post in within the todo's body"

[2020-05-07 13:01] hectorgabucio commented on #58
I'll do it!!

[2020-05-08 06:15] hanzei commented on #58
Thanks @hectorgabucio!

[2020-05-09 00:56] abdulsmapara opened #64 "Missing command in autocomplete suggestion"
When typing ```/todo```, the autocomplete suggestion includes the commands ```add```,```list```,```pop``` but does not show some other commands (for eg. ```send```).

The task is to add all available commands to the suggestion.

[2020-05-09 00:57] abdulsmapara commented on #64
I'd like to resolve this issue !

[2020-05-12 03:29] levb commented on #33
I'd much like a "Bump" button that would move the issue to the top of the list (and eventually, a Snooze that would move it to the bottom, but bump to the top after a duration). I'd hope to avoid "fields" for as long as possible, keep it simple.

[2020-05-12 03:30] levb commented on #33
@aaronrothschild would you mind if I filed a separate ticket for a Bump button?

[2020-05-13 17:34] larkox commented on #24
@Ashniu123 is working on this issue.

[2020-05-13 17:40] larkox commented on #33
Should we make a HW ticket to change the time sorting (i.e. newest first or oldest first)?
Since there is no "priority" system in place right now, we cannot order by priority. We can have another HW ticket to add this "priority" system and do sorting on it.

[2020-05-13 17:48] mickmister commented on #62
Closing since this is already implemented

[2020-05-13 17:48] #62 closed

[2020-05-13 19:47] levb commented on #33
@larkox this would work well with a "bump" function (later?)

[2020-05-14 07:22] larkox commented on #33
Right now, the implementation is doing an implicit sorting by creation time (whenever you create a new item, you put it at the end of the list). If we were to do the date sorting, we could just show the list on reverse.

If we were to keep that, bumping would be quite easy to implement: move element X to the front of the list. But then we won't have really date ordering, since we are breaking the

[2020-05-14 09:57] hanzei opened #66 "Render markdown in todo assignment notification message"
The automated notification message doesn't render Markdown correctly.
![Screenshot from 2020-05-14 11-57-17](https://user-images.githubusercontent.com/16541325/81920853-1242d380-95da-11ea-9e56-b3bbb6280ff0.png)

[2020-05-28 10:02] hanzei opened #70 "Including white spaces into /todo send crashes the plugin"
e.g. `/todo send   admin`

[2020-05-29 02:49] mickmister commented on #70
This could affect other plugins with similar arg parsing logic

[2020-05-29 11:56] #64 closed

[2020-06-02 08:41] jurgenhaas opened #71 "Better support on mobile app"
The todo plugin is amazing. And the desktop app allows to add a message from any channel to be added to the todo list. The same support would be amazing on the mobile app too. Any plans for that on the roadmap?

[2020-06-04 13:44] #24 closed

[2020-06-04 16:56] marianunez opened #72 "Tabs in RHS have the same style as buttons"
In the RHS, the `Todos` and `Sent` tabs have the same look as the `Wont Do` and `Done` button which is very confusing.

<img width="409" alt="Screen Shot 2020-06-04 at 12 52 03 PM" src="https://user-images.githubusercontent.com/936315/83788074-b6142200-a662-11ea-8f2f-9f1f259ddd1b.png">

The tabs should be styled to look more like tabs and less like buttons :)

[2020-06-04 16:57] marianunez commented on #72
It would be great to get some UX feedback/design on this RHS overall.

[2020-06-08 07:24] konatachan opened #76 "Translation"
How can I translate some of the Button and Notification text, when the plugin is already installed?

[2020-06-08 10:16] #58 closed

[2020-06-08 10:22] hanzei commented on #72
@asaadmahmood Do you have thoughts on this?

[2020-06-08 10:24] asaadmahmood commented on #72
Yup, they should look something like this.
![Screenshot 2020-06-08 at 3 24 00 PM](https://user-images.githubusercontent.com/11034289/84020341-1aedb600-a99c-11ea-92e6-7e0230ef64c8.png)

[2020-06-09 09:23] larkox opened #77 "Use Interactive Messages (Slack Attachments) instead of Custom Post"
Right now, when you receive a Todo, you get a custom post from the bot telling you whether you want to accept, decline, or add to your list that todo.

This custom post cannot be rendered in the mobile version, and has other styling problems (specially on narrow spaces). We should change that to use Slack Attachments.

[2020-06-09 09:28] larkox opened #78 "Improve look on different themes"
Some parts of the plugin do not react, or react in a bad manner to themes (see the screenshots attached).

We should make those parts reactive to the theme.

![Image Pasted at 2020-6-5 19-30(1)](https://user-images.githubusercontent.com/1933730/84131040-5479fc00-aa44-11ea-8049-9f21a60ccae5.png)
![Image Pasted at 2020-6-5 19-30](https://user-images.githubusercontent.com/1933730/84131044-55ab2900-aa

[2020-06-16 03:40] mickmister opened #81 "There's no way to un-select a user from the dropdown after selecting a user"
When creating a todo with the full screen modal, if you have selected a user, you cannot undo your choice. We should use the `isClearable` prop with the react-select component.

[2020-06-16 15:48] levb opened #82 "Add a user preference to disallow incoming Todos"
is there an option to generally disallow people to assign todos to me? I find this feature a little intrusive :/

_Issue created from a [Mattermost message](https://community-release.mattermost.com/_redirect/pl/fqoimjk93f8n7gna1efjh317jh) *by @svelle*._

[2020-06-18 21:20] DHaussermann opened #83 "Plugin does not error gracefully when expecting a username that is not provided"
When using a slash command to send a user a ToDo item the plugin does not error gracefully and tell me no user is provided (as is the case with some system slash commands)

Steps:
- Enable ToDo
- type `/todo send  notauser`
- Send the command

**Observed**:  `Command with a trigger of '/todo' not found. Click here to send as a message.` and panic below which causes a crash.
**Expected**: The previ

[2020-06-18 21:34] DHaussermann commented on #83
@iomodo based on the location of the panic and testing ToDo v0.2.0 (which still fails gracefully), It would seem that this introduced by the addition of autocomplete to the plugin and unrelated to server or webapp changes for 5.24.

Can you please confirm this and advise if a broader change is needed for the infrastructure to handle cases where plugins could fail in this way?

[2020-06-18 21:50] DHaussermann opened #84 "Permalink are not rendered in DM posts when a ToDo is received created via MM post"
When a ToDo is received, that was created via a Mattermost post - ToDo Bot sends a DM with a slack-style attachment that contains a permalink to the recipient. The permalink is not being rendered correctly as a link.

![Permalink-BotPost](https://user-images.githubusercontent.com/35588783/85075181-c4e2f480-b18b-11ea-9410-f08242404a1d.PNG)

This is not a regression from v`0.2.0` It seems like we're

[2020-06-19 07:22] larkox commented on #84
The actual problem is that since it is a custom post, we have to actively render the markdown. This will be solved more gracefully when we change these custom posts by Slack Attachments.

[2020-06-19 07:36] larkox commented on #83
The problem here I am almost sure that is a common effort between the user and Autocomplete to put extra spaces between the arguments. Will look into it.

[2020-06-19 07:43] hanzei commented on #83
Is this a duplicate of https://github.com/mattermost/mattermost-plugin-todo/issues/70?

[2020-06-20 10:51] svelle opened #87 "Adding todo via /todo add doesn't show newly added item after sending the message"
When you use the `/todo add` command and add a new todo the list that gets sent to you is missing the newly added todo item.

[2020-06-25 07:39] #59 closed

[2020-06-29 20:18] mickmister opened #88 "Support daily summary notification on/off setting"
I should be able to do something like `/todo settings summary off` to stop receiving a daily DM from the todo bot

[2020-07-01 12:30] #84 closed

[2020-07-01 12:30] #70 closed

[2020-07-01 12:30] #83 closed

[2020-07-03 10:03] openmohan commented on #88
I would like to work on this

[2020-07-06 06:26] hanzei commented on #66
Fixed in https://github.com/mattermost/mattermost-plugin-todo/pull/85

[2020-07-06 06:26] #66 closed

[2020-07-06 12:38] larkox opened #91 "[MM-25867] Add active status to Header Icon"
Most header icons that open the RHS change their color when they have the RHS open. For example, the flagged posts or mentions.

We want Todo icon to change color also depending on the state of the RHS.

You can see a video of what we mean in the [Jira Ticket](https://mattermost.atlassian.net/browse/MM-25876)

[2020-07-10 14:23] larkox opened #92 "Pop command throws an "unkwon error" when no todos in the list"
Right now, if we have no todos and we run the pop command, we receive the following message:
[code]

It should show a more descriptive message like:
[code]

[2020-07-12 00:11] gabrieljackson commented on #87
After running into this behavior a bunch myself, the likely root cause of the issue popped into my head so I made an attempt at a fix.

[2020-07-12 21:31] mickmister commented on #21
We can have a preview button that uses [post-utils](https://developers.mattermost.com/extend/plugins/webapp/reference/#post-utils) to render the markdown, which is how the RHS text is rendered.

https://github.com/mattermost/mattermost-plugin-todo/blob/889ce942aec27efa2fa470390202d56f0cf453ed/webapp/src/components/sidebar_right/todo_issues.jsx#L33-L34

[2020-07-12 21:39] mickmister opened #94 "Support creating subtasks"
Lots of times, my tasks consist of smaller tasks that all need to be done before the parent task can be considered done. Along with [editing a todo](https://github.com/mattermost/mattermost-plugin-todo/issues/31), being able to attach subtasks would make the workflow of managing your todos a much smoother experience.

Personally, I think this feature would make the plugin exponentially more useful

[2020-07-12 22:37] mickmister commented on #31
Bump on this, as it would be immensely helpful :+1:

[2020-07-14 01:56] aidapira commented on #91
Hi @mickmister, I am working on this issue.

[2020-07-14 05:54] Hartwin2342 opened #95 "Restrict list of recipients to team members"
It's possible to send ToDos to evry user of the server, even if direct messages being restricted to members of the users teams.
It would be really nice if the drop-down list only shows members of the team, the user is sending a ToDo from.

If this is configurable somewhere, please point me to the right place.

[2020-07-16 17:05] mickmister opened #97 "Make the channel header button toggle RHS instead of just show"
Right now the channel header button makes the RHS open, but clicking it again does not close the RHS. Having the button toggle the RHS would have a more smooth UX.

[2020-07-21 10:45] colorfusion commented on #97
Hey @mickmister, just wanna check with you whether anyone is working on this at the moment, I would love to give it a shot.

[2020-07-21 17:16] mickmister commented on #97
Thanks @colorfusion! It's all yours 🙂

[2020-07-22 09:33] jprusch opened #99 "Support for autocomplete in todo task description"
Hi,
we use autolink to automagically link our Jira issues, if they are mentioned somewhere in MM. It would be great, if the todo task description could support autolink.

[2020-07-22 09:36] jprusch opened #100 "Support create / link Jira issue from ToDo task"
Hi,
sometimes a todo task becomes more & more important and needs some more option like time tracking or a workflow. It would be great, if a Jira issue could be created from a todo task.

[2020-07-23 06:38] mickmister opened #102 "Sync with starter template"

[2020-07-23 12:38] larkox opened #104 "When Todo icon is active due to RHS being open, the background is lightly darker than it should be"
As seen at the screenshot, there is some background color on the button that should not be there. The style should be fixed to fit the background.

![Screenshot from 2020-07-23 14-32-55](https://user-images.githubusercontent.com/1933730/88287027-08340400-ccf2-11ea-9195-9044969b5a42.png)
![Screenshot from 2020-07-23 14-30-09](https://user-images.githubusercontent.com/1933730/88287029-09fdc780-ccf2-

[2020-07-23 12:38] larkox commented on #104
@aidapira Since you worked on this feature, would you like to take on this one?

[2020-07-23 15:21] larkox commented on #104
This also happen on the dropdown when it is active. Not sure what is our take on what should happen in the dropdown.

@asaadmahmood In the dropdown (the screenshot below) should we also highlight the icon if the RHS is open (like the screenshot above)?

![Screenshot from 2020-07-23 17-17-14](https://user-images.githubusercontent.com/1933730/88304709-e5f9b080-cd08-11ea-9455-77e809d4868e.png)

[2020-07-23 15:23] asaadmahmood commented on #104
@larkox No, the icon in the dropdown should not be highlighted.

[2020-07-28 10:05] larkox opened #109 "Add System Console setting to allow disabling the LHS buttons"
Right now we are showing several buttons on the LHS. Add a setting on the system console to disable for all users.

[2020-07-28 10:06] larkox commented on #91
PR merged

[2020-07-28 10:06] #91 closed

[2020-07-28 13:19] colorfusion commented on #109
Hey @larkox, I would like to give this a shot if you're cool with it.

[2020-07-28 13:20] larkox commented on #109
All yours. If you need any help, do not hesitate to ask :smile:

[2020-07-28 17:17] larkox commented on #100
We could solve this on front-end. Jira expose two functions globally (attaching it to window.MMPlugins["pluginID"] ):
`isConnected(userID)` which tells whether the current user is connected to Jira via Jira plugin
`openCreateIssueModal(message)` which opens the issue modal and attach to description the text on the Todo
It could register also an event that we could subscribe to that tell us any cha

[2020-07-28 17:26] jprusch commented on #100
Hi,
I suggest just creating a link to the Jira issue inside the Todo task. Otherwise one might loose the context & handling will be more difficult.

JP

[2020-07-28 17:36] larkox commented on #100
Another solution instead of using the window object is to use Redux for registering all the relevant information. The functions could be also registered on redux, or made as Actions.

[2020-07-29 16:13] #92 closed

[2020-07-30 07:33] #87 closed

[2020-07-30 07:36] #88 closed

[2020-08-04 07:30] #97 closed

[2020-08-04 13:36] colorfusion commented on #109
Hey @larkox, regarding this issue. I assume I need to do the following
- Add new key into `settings` of `settings_schema` inside `plugin.json` file.
- Check key and only register `TeamSidebar` component through `registerBottomTeamSidebarComponent` if it's true.

I was looking through any snippet examples of reading the settings parameter in the webapp side, but I'm unable to find any examples. Do

[2020-08-04 17:27] larkox commented on #109
An easier way of dealing with this is registering always the TeamSidebar, but add some check to not show anything in case the setting is not set. To read the setting from the component, you might need to do something a bit more complicated, which will be exposing a new API endpoint to ask for that setting. In order to be up to date with the setting, I would fetch it (and store in the redux store)

[2020-08-06 03:49] colorfusion commented on #109
That sounds like a good idea, I'll look into that.

May I get you to explain more in detail about the webhook part? I'm not 100% sure about how webhooks works in tracking of the changes in the setting.

[2020-08-06 09:39] larkox commented on #109
Todo plugin is already using webhooks. I can link you here the relevant parts:
- Webhook creation: https://github.com/mattermost/mattermost-plugin-todo/blob/1905ad536a12464b850c7991dde55f71fd7b4b2c/webapp/src/index.js#L40
- Webhook function implementation (mainly dispatching redux actions): https://github.com/mattermost/mattermost-plugin-todo/blob/1905ad536a12464b850c7991dde55f71fd7b4b2c/webapp/sr

[2020-08-10 04:24] colorfusion commented on #109
Thanks a lot for the snippets! I'll work on the issue with those references.

[2020-08-10 15:17] #102 closed

[2020-08-15 22:36] levb commented on #99
@jprusch How do you envision it work? At the moment, individual Todo items are not linkable, and are only visible to the owner; What exactly would Autolink replace, and with what?

[2020-08-17 07:48] jprusch commented on #99
Hi,
using the autolink plugin (https://github.com/mattermost/mattermost-plugin-autolink) we create regular expression which are applied to all messages. If the regex matches, the matched term is automatically linked to a given URL with the matched term as parameter. Jira issues are normally very easy to match (Projectkey-Issuenumber).

Example: I got a todo for a coworker and enter a reference to

[2020-08-17 09:58] colorfusion commented on #104
If the icon in the dropdown should be not highlighted, then we probably have to remove the highlighting of the icon from the plugin side instead. The highlighting can be feature added to the mattermost webapp itself to highlight channel header buttons that can be toggled instead.

[2020-08-17 10:06] larkox commented on #104
@colorfusion The problem at the moment is not about the highlight, but about the icon having some weird background (the highlight should just change the color of the foreground).

[2020-08-17 10:52] colorfusion commented on #104
The weird background comes from the `channel-header__icon--active` class attached to the `span` inside `channel_header_button.tsx` due to the dropdown rendering the same component `<ChannelHeaderButton/>. That same class is used to highlight the other icons (members / pins) when they are toggled, that's why the css has the background color attached to it.

Are we looking at removing the background

[2020-08-17 11:28] larkox commented on #104
Yes, that would be the objective.

[2020-08-21 04:13] colorfusion commented on #104
I would like to work on this, if everyone's cool with it. 😎

[2020-08-21 08:13] larkox commented on #104
All yours! Thank you very much!

[2020-08-25 13:30] colorfusion commented on #78
I would like to tackle this task! 😎

[2020-08-26 09:01] larkox commented on #78
Awesome! Thanks!

[2020-08-29 10:07] colorfusion commented on #81
I would like to work on this.

[2020-08-31 11:29] mickmister commented on #81
Thanks @colorfusion!

[2020-09-02 09:32] #109 closed

[2020-09-02 09:35] #78 closed

[2020-09-02 10:22] #104 closed

[2020-09-07 11:59] larkox opened #118 "Release v0.4.0"

[2020-09-18 10:29] #118 closed

[2020-09-22 06:06] michaelkozakovsc opened #120 "Option to disable daily reminders"
I often add todos that are not due for weeks - getting a daily rundown gets very annoying. My suggestions:

1) option to disable daily reminder message
2) more options to configure notifications

[2020-09-22 07:09] larkox commented on #120
We recently added (to version 0.4.0) a slash command to disable daily reminders. Just type `/todo settings summary off` and it should be removed. Let me know if that worked for you.

[2020-09-23 10:33] jespino opened #121 "Add screenshot to the README"

[2020-09-25 16:57] merspieler opened #122 "Feature Request: Make telemetry opt-in"
I'm missing the ability to opt-in/out of the telemetry collection.

If there's telemetry collected the users should as well be made aware of it.

[2020-09-28 15:25] aaronrothschild commented on #122
The server controls the telemetry sent by the plugins - if an admin has set the server to not send telemetry - the plugin will not send it either.

[2020-09-30 08:59] merspieler commented on #122
I'm an admin and I don't see any option to disable telemetry

[2020-10-02 16:48] diode commented on #31
Can I work on this ?

[2020-10-02 16:49] marianunez commented on #31
Ticket is yours! Thanks @diode 👍

[2020-10-02 16:51] mickmister commented on #31
Great! Thanks @diode!! (also awesome username)

[2020-10-02 17:13] aaronrothschild commented on #33
There was a Audition that provided a design for re-ordereing if anyone wants to implement:
https://docs.google.com/document/d/1CGUd6RgcOPosac_VVMKC0Xd_wxracC7x6Mp0FCIHbtI/edit

[2020-10-02 17:15] aaronrothschild opened #123 "Implement a more polished looking UI for the ToDo Plugin"
A designer provided some options for implementing some features in Todo plugin.  Part of that is wrapping some basic elements of the todo plugin with some nicer looking CSS, etc.

https://www.google.com/url?q=https://docs.google.com/document/d/1CGUd6RgcOPosac_VVMKC0Xd_wxracC7x6Mp0FCIHbtI/edit&sa=D&ust=1601657330680000&usg=AFQjCNEncILYhA5Pbsoa6A6LlYmRqaCDzg

Some Ideas for improvement could include

[2020-10-05 12:44] larkox opened #124 "Integrate E2E testing"
Following a similar design as in the [Incident Response Plugin](https://github.com/mattermost/mattermost-plugin-incident-response/tree/master/tests-e2e) integrate Cypress E2E testing for this plugin.

At least one simple test case has to be added to make sure the system works.

[2020-10-06 16:14] aaronrothschild opened #125 "When completing a Requested todo: Allow completer to fill in a message to be sent to requester"
After completing a task, it would be ideal if after pushing the "done" button - you can optionally send a message with some info about the task.  For example including links or comments about the completed task.

[2020-10-07 10:16] merspieler commented on #122
So, where can I opt out?

[2020-10-08 14:06] icy-meteor commented on #81
Do we have an update on this?

[2020-10-08 15:53] mickmister commented on #81
Hi @colorfusion, how are you doing on this task? If there's any way we can help, please let us know :) We can discuss here or in the [Todo Plugin channel](https://community.mattermost.com/core/channels/plugin-todo
) on our community server.

[2020-10-08 20:54] #34 closed

[2020-10-11 03:31] colorfusion commented on #81
My apologies, I was a little busy last month, I'll work on it asap within these few weeks.

[2020-11-17 16:15] hanzei opened #128 "Release 0.5.0"
- [x] https://github.com/mattermost/mattermost-plugin-todo/pull/127

[2020-11-17 16:15] hanzei commented on #128
@larkox Is there anything else you want to get in?

[2020-11-17 16:27] larkox commented on #128
No. That seems like all needed. Thanks :smile:

[2020-12-02 07:49] asaadmahmood commented on #36
@hanz This ticket should not be assigned to whoever is handling design in Integrations/Plugins.

[2020-12-02 07:49] asaadmahmood commented on #36
@hanzei  This ticket should not be assigned to whoever is handling design in Integrations/Plugins.

[2020-12-21 18:56] DHaussermann opened #130 "ToDo plugin throws a JS error every so often when it is enabled"
When ever the plugin the ToDo plugin isa enabled I see a JSA error show in the dev console every so often. This occurs within about a minute of having the plugin enabled regardless of if the user touches the functionality.
This occurs on version `v0.4.0`. I can't find any functional implications when the error occurs.

Steps:
- Install and enable the plugin
- Open any channel
- Open the dev consol

[2020-12-23 08:55] burnelltw opened #131 "Does it support localization?"
if it support localization,
I can help with translate it to other languages.
Thanks a lot.

[2021-01-08 15:25] biva opened #132 "Create a todo within a normal message"
I see 2 possibilities to create a todo currently:
- A. I write `/todo send @bob Watch this` → in this case, the result is that my original message disappears, only the todo is added to Bob's list and Bob sees a message from **Todo Bot**.
- B. I write `Watch this` in a channel, click on the 3 dots, choose **Add Todo**, choose the user, ... → this is good but a lot of steps.

I'd like to mix A and B

[2021-01-08 15:32] biva opened #133 "Create several todo within a message"
Following this feature request (https://github.com/mattermost/mattermost-plugin-todo/issues/132), it would be great to create several todos within a message. For example:
[code]
This would create a different todo for Bob (_Watch it_) and Alice (_Share it on our twitter_), and both would have the permalink to the original message. The original message should remain visible in the channel where I po

[2021-01-11 10:47] larkox commented on #132
If you were to create a todo like that, Bob will just receive the "Wath it" part of the todo. In order for a todo to be "linked" to a message, you have to add the permalink. To do that, you can get the message you want to reference (for example, the news link), create a todo, and remove the content (just keeping the permalin) and just add "Watch this". Would that solve the problem?

Do you see any

[2021-01-11 10:52] larkox commented on #133
I wonder if creating a todo in a thread will link directly the root post. i.e. `/todo add Something` in a thread will create a todo like `Something [permalink](link)`. The same would happen for send.

Nevertheless, I worry on how to communicate that to the user so they know that the link will be added.

[2021-01-11 16:10] biva commented on #132
Thanks @larkox for your feedback. I understand your point with the permalink, which is indeed important. In this case, the todo should just include `Watch it` and the permalink to the discussion: Bob can click on the link and he will land on the discussion to see what it refers to.

My objective is to make it very easy and straight forward to create a todo, without any additional step than writing

[2021-01-11 16:12] biva commented on #133
@larkox I'm not sure to understand: when I create a todo today, I can already add the permalink. This should also be the case: the permalink should be added automatically to the todo, and Bob will receive a message from **Todo Bot**, this message will include `Watch it` and the permalink.

But maybe I misunderstood you?

[2021-01-11 16:13] larkox commented on #132
Yes, my solution involves more steps. But I struggle to see how to make clear the options to the user. For example, how you differentiate between:
- `/todo send @bob Do the dishes` (a todo with reference to nothing)
- `/todo send @bob Watch this video` (a todo with reference to a message)

[2021-01-11 16:17] larkox commented on #133
I think we are proposing the same.

I can for sure type `/todo add Something (permalink)[link]` and will create a todo with content `Something (permalink)[link]`. But what I am proposing is that if I write `/todo add Something` inside a thread, the created todo will be `Something (permalink)[link]` instead of `Something`.

[2021-01-11 16:20] biva commented on #133
Great :)

[2021-01-11 16:21] biva commented on #132
I wouldn't make any difference: I would include the permalink in both cases. For the dishes, Bob won't care about the permalink. And for the video, he will use it.

[2021-01-12 13:12] larkox commented on #131
Thanks for the comment @burnelltw . Right now it does not support localization. Nevertheless, if you are interested in the localization of other parts of the product, feel free to check join this channel in the community server: https://community.mattermost.com/core/channels/localization

[2021-01-12 16:23] larkox commented on #122
@merspieler If I am not mistaken, the setting you are looking for is "Enable Diagnostics and Error Reporting" in the System Console.

[2021-01-12 16:52] merspieler commented on #122
@larkox oh... now I get it... it follows the global setting... thanks.

[2021-01-12 16:52] #122 closed

[2021-01-13 11:07] larkox commented on #71
There has been some progress in the Apps Framework, that will allow more interactivity with mobile. That will be also used by Plugins, allowing todo to add more functionality for mobile clients.

[2021-01-13 11:12] larkox commented on #72
Fixed by https://github.com/mattermost/mattermost-plugin-todo/pull/116

[2021-01-13 11:12] #72 closed

[2021-01-13 11:50] larkox commented on #82
The idea would be to add a Slash command like `/todo settings blockIncoming on/off` and then handle all the error messages when a user is trying to send a todo to someone that has this setting on.

[2021-01-13 11:58] #120 closed

[2021-01-13 13:17] larkox opened #134 "Add translation support for the plugin"
We would like to add translation support for the plugin following a similar approach to the one used on the [Jitsi plugin](https://github.com/mattermost/mattermost-plugin-jitsi).

[2021-01-13 13:18] larkox commented on #76
Right now there is no possibility to translate the plugin. Any progress on this topic will be registered in the #134 issue.

[2021-01-13 13:18] #76 closed

[2021-01-13 13:19] larkox commented on #131
Any progress in the localization support for this plugin will be registered in the #134 issue.

[2021-01-13 13:19] #131 closed

[2021-01-17 22:47] asimsedhain commented on #82
I would like to work on this.

[2021-01-18 09:47] larkox commented on #82
All yours! Thanks for contributing @asimsedhain !

[2021-01-20 05:25] asimsedhain commented on #21
I would like to give this a shot.

[2021-02-04 23:28] biva commented on #132
Hello, I see that some people are working on this request, thank you so much! Could you please update us on the status? Thank you again!

[2021-02-19 01:02] frakman1 commented on #31
This should be required feature. Often there is a typo in the Todo. I should be able to go in and fix it.

[2021-03-01 18:40] mickmister opened #139 "Render LHS items in fallback area when the user only has one team"
The plugin currently shows the status of the user's todos in the LHS, but this is currently only visible when the user is a member of more than one team. We should render the todo items in the left sidebar header using [registerLeftSidebarHeaderComponent](https://developers.mattermost.com/extend/plugins/webapp/reference/#registerLeftSidebarHeaderComponent) if the user is only a member of one team.

[2021-03-04 13:59] DHaussermann opened #140 "Improve theme colour styling for ToDo"
There are a couple instances where ToDo seems to have some css styling issues with colour that cause odd contrast with some themes.

![107568682-58eb4b80-6bb5-11eb-8e7c-ce159656655b](https://user-images.githubusercontent.com/35588783/109974356-78165e00-7cc7-11eb-9758-9324969e1290.png)
This white colour for the unselected tab looks odd on Windows Dark theme.

![107647513-3b67c180-6c49-11eb-84cc-5de

[2021-03-06 19:26] #21 closed

[2021-04-13 11:50] itchy00 opened #142 "List of completed TODOs"
Hi,

I really like the tool and that the bot reminds me of my TODOs every day.
However, it would be great if there was a way to have completed TODOs remaining visible (somehow marked as "done") in the list. At least an option to do so would be great.
It could really help sometimes to recall after a while which TODOs have already been done a while ago for tracking of project workflows, for example.

[2021-05-24 09:50] phoenixsampras opened #143 "Create TODO task throught API"
Hello,

There is a need to delegate TODO's to another users, using the API incoming WEBHOOK.

Please address some instructions how to acomplish this?

Thanks in advance!!

[2021-06-22 02:38] phoenixsampras commented on #143
Any help regarding this please

[2021-07-19 15:19] #81 closed

[2021-08-11 12:07] #82 closed

[2021-09-13 06:40] nbvcxz opened #145 "[Question] Todo List direct URL"
So far Todo List is displayed in the right sidebar overlay. Is there something like "direct URL" to display only the todos?
I would like to use it in [Ferdi](https://getferdi.com/) tasks.

[2021-10-18 16:29] jasel-lewis opened #146 "Close/Cancel Icon _Barely_ Visible"
The close/cancel button only has the lowest two pixels of the "X" visible within Mattermost. I couldn't figure out how to close the TODO plugin until I wondered if those two, oddly-placed pixels had anything to do with it. Sure enough, on hover, you can see the button outline and I was able to click. Not a blocker, but definitely not intuitive for first-time users (and I figure the close/cancel bu

[2021-11-05 16:16] rummens opened #147 "Sidebar UI elements not visible on Web clients (403 on loading js for plugin_com.mattermost.plugin-todo)"
Hi there,

since a few versions we are facing an issue that the UI elements to open the TODO menus are not visible in the web interface of MM (even in different browsers). It is however in the local client for at least Mac and Linux (did not test Windows yet). We've been hoping for a fix in the last few versions but the error persists.

Any idea what could go wrong and how we can troubleshoot the

[2021-11-08 09:15] larkox commented on #147
Is there any chance that any kind of firewall (be it on the browser, server, or connection) is limiting the access to the plugin code only for the web client and not from the desktop client?

[2021-11-08 11:07] rummens commented on #147
There is not, we have not deployed any WAF or similar between MM and the clients. There is a normal FW but it allows full access to MM, as long as these specific js files are not loaded using a different port or protocol, the FW should not be the issue.

Is there a config in MM to allow/deny certain files or extensions?

[2021-11-08 12:36] jasonblais commented on #147
@rummens thanks for your report! Noticed it included your site URL / domain in the console output - I redacted and re-pasted into the description, hope that was okay! Wanted to do it in case it was confidential :)

[2021-11-08 13:25] rummens commented on #147
Cheers. appreciate it.

[2021-11-10 10:42] larkox commented on #147
@hanzei Do you have any idea why this issue may be happening?

[2021-11-11 08:51] hanzei commented on #147
@rummens Are you running v4.5 of Mattermost? If so, that is a quite outdated one.

[2021-11-11 11:32] rummens commented on #147
I think what I copied was the app version. Server runs  6.02

[2021-11-13 01:12] #56 closed

[2021-11-23 09:26] hanzei commented on #147
@rummens  What is the content-type of the plugin bundle? You can find that information under `Network` by searching for `todo`.

[2021-11-24 06:09] rummens commented on #147
It seems that the latest release (6.1.0) has fixed the issue, at least for web clients. It required a reset of browser settings and cache but so far I am getting positive responses from our users.

Thanks for the help.

[2021-11-24 06:09] #147 closed

[2021-11-29 10:56] moschlar commented on #128
Ping?

[2021-11-29 11:52] hanzei commented on #128
@larkox Would you be open on taking care of the release?

[2021-11-30 11:39] larkox commented on #128
@hanzei Sure, I will take it.

[2021-12-01 19:33] jasel-lewis commented on #146
The "Add a Todo" page now spans full-height (and over top of the banner) so that now the "X" (close/cancel) button is fully visible. We upgraded to MM v6.1.0 but not sure if that really fixed the issue or if it just "shocked the system."

Presently running:
MM Enterprise v6.1.0
MM Desktop v5.0.0
TODO plugin v0.4.0

![image](https://user-images.githubusercontent.com/2246068/144301318-3b85a385-cc19-

[2021-12-01 19:33] #146 closed

[2021-12-02 05:34] mickmister commented on #147
Hi @rummens, do you happen to be running a proxy in front of your server? Also just to try and diagnose the issue, are you able to test what the content type of the response is when the issue is occurring versus when it is working properly?

[2021-12-06 12:32] rummens commented on #147
Yes we did/do have a VPX/LB in between. If you tell me how I can look it up I can let you know. I looked into the Network tab in my browser but it didn't include any interesting headers.

[2021-12-20 17:47] dipak-demansol opened #149 "when i click on the search box of TODO then i'm getting the blank screen"
#### Summary
when i click on the search box of TODO then i'm getting the blank screen

#### Steps to reproduce
Steps :- 1) Click on the TODO icon.
             2) click on "add new TODO btn/label"
             3) Click on the search input box to invite the user.

#### Expected behavior
   :- The user should not Get the blank screen, he should able to invite/ search the user.

https://user-images.g

[2021-12-20 18:15] jprusch commented on #149
Cannot reproduce on MM 6.2.0 with ToDo 0.4.0 with Windows Desktop 5.0.2 & Chrome Browser.

[2021-12-20 18:25] dipak-demansol commented on #149
@jprusch
issue generate in the Community https://community.mattermost.com/
[code]

[2021-12-20 19:46] dipak-demansol opened #150 "TODO username input box UI issue."
issue :- when i add somany text in the user input box then UI issue generate.
video :-

https://user-images.githubusercontent.com/89907719/146823309-23dea3f1-f4b9-4b9c-b386-c30e649295fe.mp4

#### Possible fixes
    :- in the register there is 22 character length so the same length should be apply here in that input box.

[2021-12-24 12:34] dipak-demansol opened #151 "there should be a list of Done and Wont'do task. (improvement)"
Why its required :- because at the end of the day if i want to know that which task is done and which is i mark as "Won't do" then i have no information so that's why this feature should be there.

[2021-12-27 06:36] dipak-demansol opened #152 "Todo date and time is not visible as sub point when user add permalink"
pls see the video

https://user-images.githubusercontent.com/89907719/147442034-dbb2f3a9-2ecf-4448-a75f-adff0bdc38e3.mp4

[2021-12-27 06:38] dipak-demansol opened #153 "1 Cancel icon is not looking Good in the Dark theme"
pls see the video

https://user-images.githubusercontent.com/89907719/147442199-b41626e8-a5e4-4a34-9f86-3e7d07ff2edf.mp4

[2022-01-17 11:00] #128 closed

[2022-01-17 22:29] DHaussermann opened #155 "Various plugin on Community throw JS errors after upgrading to version 0.5.0"
After upgrading the community server to version `v0.5.0` of the ToDo plugin, many users reported seeing multiple JS errors from various plugins.
The errors seem to mostly show `[Util] handleerror:: Uncaught TypeError: Cannot read property of undefined (reading 'data')`
![image](https://user-images.githubusercontent.com/35588783/149843058-f028ec65-0e2f-4f6c-b3f6-5cc0881b4f1e.png)
![image](https://u

[2022-01-18 16:29] DHaussermann commented on #155
I don't have steps yet. but I did see this locally after the plugin was running server `release-6.3)`
As also mentioned in the thread on community - I could **not** dismiss the developer mode JS error banner.

![image](https://user-images.githubusercontent.com/35588783/149975408-fc5fffa6-6440-4e20-aba2-7258a0e87d85.png)

Not in the tooltip that the error is originating prom the ToDo plugin and sho

[2022-01-19 10:59] larkox commented on #155
That seems to be on `webapp/src/index.js:64`. Here we are not handling the possibility of an error in the dispatcher, and can cause this. Not sure if the reason, or a symptom of something else failing. A first take on this would be to rewrite this so the error is handled, and test again so we can see what error we are receiving, and see what is the actual culprit.

[2022-01-20 23:42] joebordes commented on #155
should we downgrade while we wait?

[2022-01-21 14:33] hanzei commented on #155
https://github.com/mattermost/mattermost-plugin-todo/blob/cda33503b0ad334d3a86dc6921e562d901e8e40a/webapp/src/index.js#L64 could be the line causing the error.

[2022-01-25 16:52] woodaw304 commented on #155
We saw something after upgrading the To Do Plug in to 0.5.0. The banner below would appear after about 30-45 minutes of activity on MM (6.3.0).  Refreshing the screen would temporarily remove the banner.

![image](https://user-images.githubusercontent.com/98336453/151022058-d84d0c66-db40-4072-af9c-b3d2c1bfb767.png)

We checked logs and found these log messages.

![image](https://user-images.github

[2022-01-26 06:33] mickmister commented on #155
@woodaw304 I wouldn't expect this error to occur due to anything related to the Todo plugin. Are you able to test whether or not the error occurs when the plugin is disabled? cc @hanzei

[2022-01-26 12:28] woodaw304 commented on #155
@mickmister We did not see this banner when the ToDo plug in was at version 0.3.0.  In addition, we removed the ToDo Plug in v0.5.0 and replaced with v0.4.0 and the banner issue went away.  We are running MM 6.3.1 currently.

[2022-01-28 08:55] patrick-othmer commented on #155
We had the same issue and also the connection on client side seems to be affected on our side. As soon as we deactivated the plugin, the user online status and the notifications seems to work again properly.

[2022-02-01 08:07] mickmister commented on #155
Adding Triage label so someone can be assigned to investigate why the todo plugin is related to the online status issue

[2022-02-01 16:21] nough commented on #155
Same issue, same log entries, disabling todo plugin seems to have resolved user complaints.
I don't recall getting the red banner, but users would often appear as offline when returning to their laptops, and sometimes were unable to access API links such as the bigbluebutton plugin.

[2022-02-02 08:54] nough commented on #155
When using v0.4.0, I am unable to use the right sidebar of the todo plugin to send a todo to someone. When I click on the "assignee" box, the mattermost screen freezes. This is true in both the desktop application and Chrome.

I can however send todos using the command line, e.g. `/todo send @woodaw304 check the contents of that bug report.`

[2022-02-03 12:47] sanjaydemansol commented on #155
@dipak-demansol can you please try and regenerate this issue

[2022-02-04 10:39] sstark commented on #155
We did get millions of log entries like this:

`  ... webhub.broadcast: cannot send, closing websocket for user caller="app/web_hub.go:535" user_id=12341234`

after the update, which also lead to weird behavior of some clients (offline/online changing randomly, messages not sent, messages sent twice, etc.). Disabling the todo plugin fixed it.

[2022-02-04 11:26] larkox commented on #155
I got to the root of the problem: the websocket reconnect event.
We are passing a function that expects a message, and the websocket reconnect event has no message. This, I still don't understand how, shows as problems with other plugins, but it is always the todo plugin. A PR should come today.

[2022-02-04 11:38] sanjaydemansol commented on #155
I checked through the problem and it is due to the websocket connection. plugin's method attach to reconnect websocket is expecting and event data and reconnection not sending one.
it was object destructuring that was causing an error. I've made some changes for that and will make PR very soon.

[2022-02-07 20:08] hanzei opened #157 "Release 0.5.1"
- [x] https://github.com/mattermost/mattermost-plugin-todo/issues/155

[2022-02-11 07:39] dipak-demansol opened #158 "in The Private Tab The Todo Plugin is not Behaving as per the Settings."
1) when "Hide team sidebar buttons" Setting **is "False"** then User will **see the TODO icon + Data on the LHS, This is Right but** When user login in the **Private tab then LHS Icon is visible but the Count data is not visible,** but after the refresh the Page data is visible in the Private tab

2) When "Hide team sidebar buttons" Setting **is "True",** Then **LHS TODO icon is not visible, This

[2022-02-11 16:35] #155 closed

[2022-02-13 17:56] jeromegrosse commented on #124
I can give it a shot!

[2022-02-14 10:39] larkox commented on #124
Thanks @jeromegrosse ! If you need anything, do not hesitate to ask!

[2022-02-15 13:37] hanzei commented on #149
@dipak-demansol can you please try to reproduce this issue against `master'?

[2022-02-16 07:17] dipak-demansol commented on #149
Testing Done, Issue Not Generated With The Master Branch, BUt Still Issue Generate in The Production (Core, 6.4.0)

[2022-02-23 12:43] hanzei commented on #149
@dipak-demansol What do you mean with `in The Production`?

[2022-02-23 12:44] dipak-demansol commented on #149
@hanzei i mean https://community.mattermost.com/core/

[2022-02-23 12:50] hanzei commented on #149
@dipak-demansol Can you check again please?

[2022-02-23 12:54] dipak-demansol commented on #149
@hanzei Now This issue Is Not Generated In the mattermost 6.5.0 Version.

[2022-02-23 12:55] #149 closed

[2022-02-23 12:55] #157 closed

[2022-02-28 03:17] mickmister opened #160 "Be able to rank and filter todos by priority"

[2022-02-28 03:20] mickmister commented on #160
@matthewbirtch @hanzei Any thoughts on this feature?

I'm thinking we can have three levels of priority. Then the user can sort or filter on items by priority. The daily reminder could factor this in somehow as well.

This is one of the main reasons I don't use this plugin much. Most of my todos entered into the plugin are not urgent, which makes it so any urgent ones are lost in the noise. Being

[2022-02-28 07:21] mickmister commented on #155
@joebordes @nough @patrick-othmer @woodaw304 @sstark

Note that there is a fix for this is in the marketplace now with version `0.5.1`. Please upgrade the plugin on your server when you have the chance.

[2022-02-28 08:33] hanzei commented on #160
@mickmister This issue feels like a duplicate of https://github.com/mattermost/mattermost-plugin-todo/issues/33. There are already a lot of great comments in https://github.com/mattermost/mattermost-plugin-todo/issues/33.

What new aspects does this ticket bring up?

[2022-02-28 15:26] mickmister commented on #160
@hanzei Yeah it mentions priority so seems to be a duplicate. I'll close this and put some thoughts there. Thanks @hanzei!

[2022-02-28 15:26] #160 closed

[2022-02-28 15:26] mickmister commented on #33
I'm thinking we can have three levels of priority. Then the user can sort or filter on items by priority. The daily reminder could factor this in somehow as well.

This is one of the main reasons I don't use this plugin much. Most of my todos entered into the plugin are not urgent, which makes it so any urgent ones are lost in the noise. Being able to label urgent ones accordingly would let me uti

[2022-02-28 15:30] matthewbirtch commented on #33
@asaadmahmood and I have been working on significant UI/UX improvements to the plugin, but prioritized tasks aren't something we have considered yet. I like the idea, but I think we should get the plugin in a better UX state first.

[2022-03-09 17:39] mickmister opened #162 "Release 0.6.0"
- [x] https://github.com/mattermost/mattermost-plugin-todo/pull/154

[2022-04-28 18:04] DHaussermann opened #164 "Permalink in a ToDo open in a new browser tab"
When a user clicks a permalink that is in the contents of a ToDo item, the link opens in a new browser tab. The expected behaviour is that the user should navigate to the post permalink view in the existing tab and the ToDo RHS should remain open.

This **is** working as expected in desktop app. Only browser seems affected.

1. Make a post from a browser
2. Click the actions post menu option and s

[2022-04-29 16:53] DHaussermann opened #165 "ToDo user search does not work as expected when first name and last name contain spaces"
The ToDo user search for the send functionality is different from the user picker elsewhere in Mattermost and the search does not work as expected if the target user has a space in their first or last name.
The generic user search will still return relevant users when the value includes a space but, the ToDo user search does not.

![image](https://user-images.githubusercontent.com/35588783/1659856

[2022-05-02 09:46] dipak-demansol opened #166 "login mattermost in the Incognito tab then LHS TODO Count is not visible, its 0, after the refresh User can see the Proper Count."
steps 1) login mattermost in the browser and see the todo LHS Count. (Count should not be 0)
         2) login the same account in the Incognito tab.
issue :- TODO count will be 0 but when you refresh the page then you will see the right Count.
Video :-

https://user-images.githubusercontent.com/89907719/166215584-69d02d6b-e062-4f2f-b500-274c1778a21b.mov

expected behaviour :- after login in the i

[2022-05-02 19:08] mickmister commented on #166
This information needs to be fetched on user login. This is done in the Jira plugin [here](https://github.com/mattermost/mattermost-plugin-jira/blob/f986c159ec37a6b1cf727840d8899f84a1aff612/webapp/src/plugin.tsx#L76) using a root component to determine when the user has logged in.

Ideally we have a `UserHasLoggedIn` webapp plugin hook. The author of the fix can choose to add that instead of the a

[2022-05-03 07:14] dipak-demansol opened #168 "TODO add message preview Functionality issue."
issue 1 :- in the preview, text Should not visible in the one line.
issue 2 :- that text written in the left side so in the preview its should visible in the left side but currently in the preview its visible in the right side.

video :-
https://user-images.githubusercontent.com/89907719/166416425-3bbdbab7-6ca8-4b70-ba8a-f55c3d44e8ce.mov

[2022-05-13 12:27] Anarbb opened #169 "Compile it for ARM?"
Hey,
Can you add an arm64 build for this plugin?
Thanks!

[2022-07-12 15:48] mickmister opened #171 "Assigned todos have disappeared"
As shown in the screenshot, I am seeing that i have no todos, yet have one in the "Sent" bucket. This ticket is to investigate why the todos are not showing. It seems the API call to `plugins/com.mattermost.plugin-todo/list?list=in` is returning an empty array.

![image](https://user-images.githubusercontent.com/6913320/178533359-1a11b34e-5325-4cad-8a30-84136e3ce92d.png)

[2022-08-01 15:23] catalintomai commented on #171
@DHaussermann or @Flinch , if you can look into this one - does it repro on other envs other than community(?).

[2022-08-02 04:05] hartkena commented on #95
Anyone willing to do this enhancement? We will fund it. If interested please let me know.

[2022-08-10 19:19] DHaussermann opened #173 "Focus stays in the main window when assignment modal is opened"
When I open the modal to assign a To Do to someone, the focus does not move.
When I type to search for a user the search does not respond and if i hit the `D` keystroke (or any other shortcut) I can see that I'm manipulating the data in the Todo list behind the modal.

Steps:
- Create a ToDo not assigned to anyone
- Click to assign the ToDO
- Without touching the mouse to manually move the focus t

[2022-08-15 16:15] mickmister commented on #171
@DHaussermann Looking through the remaining GitHub triage tickets, this is the only one that stands out to me. I'm wondering if the plugin is broken for customers using this, or just on community

[2022-08-22 15:14] mickmister commented on #173
@asaadmahmood Would you happen to know of a quick/proper fix for this issue? It seems it was introduced in your PR here https://github.com/mattermost/mattermost-plugin-todo/pull/161

[2022-08-22 15:15] mickmister commented on #171
@matthewbirtch Are you still experiencing this issue on community?

[2022-08-22 16:20] matthewbirtch commented on #171
All good now for me @mickmister. All todos are restored for me

[2022-08-22 17:54] asaadmahmood commented on #173
@mickmister Not sure of a proper fix, but a quick fix would be to close the menu when the assign modal is open.
I can't repro this if you click on the assign menu item, but when you use the shortcut `a` to open the assign modal, then this issue occurs because when opening the menu with the shortcut, the menu doesn't closes.

@DHaussermann Are you sure this repros when you click on the assign optio

[2022-08-23 04:29] #171 closed

[2022-08-24 16:30] DHaussermann opened #175 "Adding a ToDo does not work when using "Add to Thread" option"
When a user creates a ToDo from a post in Mattermost AND checks the option for "Add to thread" a JS error occurs and the save is non functional.
![image](https://user-images.githubusercontent.com/35588783/186471233-ef1a56f1-1c91-40ad-b8fa-eae0eb18de73.png)
I also see a message regarding username.
`[Util] handleError::  Uncaught TypeError: Cannot read properties of null (reading 'username'`)
 Note

[2022-08-24 16:32] DHaussermann commented on #175
@asaadmahmood This seems like it occurs only after the UX changes. Let me know if you're able to take a look.

[2022-08-25 14:13] DHaussermann opened #177 "Adding a ToDo from a post does not move the [Permalink]"
Previously when creating a To Do from a Mattermost post the `[Permalink]` is moved to a new line below the quoted text.
Now there is no white space and the link is immediately after the text.
![image](https://user-images.githubusercontent.com/35588783/186687309-218ecb45-4ba1-4ad8-8a17-325f50002b77.png)

This screen shows the previous and current behavior side by side.
![image](https://user-images.

[2022-08-25 15:36] mickmister opened #178 "Release 0.7.0"
- #176
- #174
- #161

[2022-08-29 15:31] catalintomai commented on #177
Looks to be a regression; need to fix this before marketplace release.Thanks!

[2022-08-30 10:06] asaadmahmood commented on #177
@catalintomai Submitted a PR with a fix.

[2022-09-01 18:53] #177 closed

[2022-09-01 19:10] amyblais opened #181 "Add a confirmation that the To-do was added successfully"
Today I assigned a to-do for another person, but I never got a confirmation message saying that the to-do had been added successfully. I ended up adding the to-do 3 times because I didn't know that the first time was succesful. I asked the other person and they said that they had gotten a notification for all 3 attempts.

Repro steps:
1. Open the To-do RHS.
2. Click on + Add To-do.
3. Assign the T

[2022-09-01 21:23] mickmister commented on #181
@asaadmahmood Is this possibly a regression from recent changes? cc @DHaussermann

[2022-09-05 14:09] DHaussermann opened #183 "ToDo Permalinks are opened in a new tab"
When a ToDo is created from a post in Mattermost, a permalink is included in the title of the ToDo.
Clicking the permalink is opening a new tab where he user is directed to the post (or opening in the browser when using desktop client).
The user should be directed to the channel and post in the same tab.

**Steps**:
- Make a post
- Click the action option and create a ToDo from the post
- Open the

[2022-09-06 14:35] DHaussermann opened #184 "Using the RHS to send a ToDo shows no feedback if the target user has disabled ToDo"
Using the RHS to send a ToDo shows no feedback if the target user has disabled ToDo. Sending via the slash command shows feedback that the user has blocked incoming ToDo but when a ToDo is created and assigned via the RHS the ToDo is simply not shown anywhere and the sender is not given any feedback about why.

Steps:
- Login as a test user
- Type `/todo settings allow_incoming_task_requests off `

[2022-09-06 14:47] DHaussermann opened #185 "The ToDo lint "in" behavior is unclear"
When you type `todo list` - You see all your accepted ToDos which makes sense.

When you type `todo list in` - You see only pending ToDos not yet accepted. This is a bit unclear. Mosts especially because when you have nothing pending it shows you you have nothing to do even if you have several accepted ToDos
![image](https://user-images.githubusercontent.com/35588783/188665117-06844031-8525-4a8b-b

[2022-09-06 15:26] DHaussermann opened #186 "UI looks very unpolished in the Bump post"
The "Won't Do" option does not match the new style and looks very unpolished. This may be an oversight in the new UX.

![image](https://user-images.githubusercontent.com/35588783/188673736-be93ad44-2e64-47cc-b7da-b4bc9248ba14.png)

Steps:
1. Send a ToDo to a user
2. Login as the recipient in a new session
3. As the sender open the ToDo RHS and select the Sent tab
4. Click the Bump option from the

[2022-09-06 15:29] DHaussermann opened #187 "ToDos can no longer be marked as Done from the bump post"
A JS error occurs when trying to mark a ToDo as done from the bump post.
![image](https://user-images.githubusercontent.com/35588783/188675112-c6b58d58-66f3-4c69-9f99-0f37fd42c0ca.png)

Steps:
- Send a ToDo to a user
- Login as the recipient in a new session
- As the sender open the ToDo RHS and select the Sent tab
- Click the Bump option from the ... on the ToDO
- As the receiver open the Bot DM

[2022-09-07 01:46] DHaussermann opened #188 "ToDo no longer has markdown preview functionality"
The new UI where ToDos are created and edited no longer has away to preview any mark down in the ToDo description.
This preview functionality used to exist as part of the older full page modal.

![image](https://user-images.githubusercontent.com/35588783/188770726-80be097d-e435-44f4-8077-e7529216ac25.png)

[2022-09-07 01:47] DHaussermann commented on #188
@asaadmahmood  Do you have any thoughts on this?
0/5 Not having to use the old full page modal is significantly better and it may not be urgent to put the markdown preview back in.

[2022-09-07 01:51] DHaussermann commented on #187
@asaadmahmood This seems to be new with the UX improvement effort.
Let me know if you can take a look.

[2022-09-07 01:51] DHaussermann commented on #186
@asaadmahmood This seems to be new with the UX improvement effort.
Let me know if you can take a look.

[2022-09-07 07:50] asaadmahmood commented on #188
@DHaussermann That's intentional as per the design.

[2022-09-07 13:06] #188 closed

[2022-09-12 15:11] DHaussermann commented on #183
Started a discussion here https://community.mattermost.com/core/pl/rzuzpwqkttnt38obtctqnmj9ky

[2022-09-12 15:19] #186 closed

[2022-09-12 15:19] #187 closed

[2022-09-12 15:24] mickmister commented on #173
Fixed with https://github.com/mattermost/mattermost-plugin-todo/pull/174

[2022-09-12 15:24] #173 closed

[2022-09-20 20:05] #162 closed

[2022-09-23 16:16] catalintomai commented on #130
@DHaussermann , is this still repro-ing, after the latest ToDo release(s)? Maybe we can close this.

[2022-10-03 06:57] pradeepmurugesan commented on #184
Hi.. Would like to take a shot on this one.

[2022-10-10 06:52] pradeepmurugesan commented on #184
@DHaussermann  couldn't reproduce the issue with the steps above. Getting a ping from the todo bot stating the user has blocked requests. Attaching screenshot.
![Screenshot 2022-10-10 at 07 50 52](https://user-images.githubusercontent.com/528317/194811631-44119578-42f6-49e9-9856-7e602bbd8fe8.png)

[2022-10-11 15:11] DHaussermann commented on #184
@pradeepmurugesan You're correct. I'm not sure how I missed this before or what build I may have been testing on.
On the latest build - I am  seeing a DM from the bot when I click `Save`.
Thank you for bringing this to my attention 🎉

This is not ideal UX as it's not as obvious as feedback in the RHS but, the user does still get notified of the business logic.

I'm sorry for the invalid issue. Ple

[2022-10-28 03:17] mickmister opened #192 "Release 0.6.1"
- https://github.com/mattermost/mattermost-plugin-todo/pull/190

[2022-11-08 07:57] stafot opened #195 "Feature request: Be able to remove any todo item not only the top one from the list"
Add a `/todo remove {item}` command and be able to remove a specific object from your todo list as sometimes you might not complete them in the specific order you added them and is a bit irritating not to be able to remove a completed item.

[2022-11-16 09:27] Eleferen commented on #134
Hello. Is there any progress on this issue?